.dashboard-container {
  .header {
    background-image: url(../../assets/images/bg_dashboard_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
