.cars-container {
  .header {
    background-image: url(../../assets/images/bg_cars_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .effect{
    z-index: -1;
  }
}
